/* .active {
  color: var(--Primary, #2970ff);
  font-weight: 600;
}

.nav-effect {
  position: relative;
}
.nav-effect::after {
  content: "";
  background-color: #2970ff;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.nav-effect:hover::after {
  width: 100%;
} */

.active-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  background-color: #2970ff;
  transition: opacity 0.5s ease;
}

.active:hover .active-indicator {
  opacity: 0;
}

/* .nav-item:hover .active-indicator::after {
  transform: scaleX(1);
} */

/* --------------- */
.nav-item {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.active {
  color: var(--Primary, #2970ff);
  font-weight: 600;
}

.nav-item::after {
  content: "";
  background-color: #2970ff;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
  color: var(--Primary, #2970ff);
}

.ai-btn {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--neutral-white, #fff);
  border-radius: 8px;
  background: var(--Primary, #2970ff);
  transition: background 0.5s ease;
}

.ai-btn:hover {
  background: var(--Primary, #0b56eb);
}
.remove {
  background-color: transparent !important;
}
.remove:hover {
  background-color: transparent !important;
}
.removes:not(.active):hover {
  background-color: transparent !important;
}

.remove-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width: 640px) {
  .hide-button {
    display: none;
  }
}

@media (min-width: 640px) {
  .hide-menu {
    display: none !important;
  }
}

.navi {
  color: var(--neutral-600, #4d5761);

  /* Body Text/Inter 16px/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
