.tt {
  color: var(--neutral-950, #081120);
  /* Body Text/Inter 16px/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.svg-sizing {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--neutral-100, #f3f4f6);
}

@media only screen and (max-width: 767px) {
  .my-element {
    margin-top: 0px;
  }
  .tt {
    color: var(--neutral-950, #081120);

    /* Body Text/Inter 16px/Semi Bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .svg-sizing {
    width: 33px;
    height: 33px;
  }
}
/* div{
  border:1px solid red;
} */
