.title{
    color: var(--neutral-950, #081120);

/* Display Heading/Display 2 */
font-family: Space Grotesk;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.subtitle{
    color: var(--neutral-950, #081120);

/* Body Text/Inter 20px/Medium */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
}
.privacy-text{
    color: var(--neutral-600, #4D5761);

/* Body Text/Inter 16px/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.pp-title{
    color: var(--neutral-950, #081120);

/* Display Heading/Display 2 */
font-family: Space Grotesk;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media (max-width: 767px) {
    .privacy-menu{
        margin-left: 16px;
        margin-right:16px;
        
    }
    .pp{
        margin-left: 16px;
        margin-right:16px;
        
    }
    .pp-title{
        color: var(--neutral-950, #081120);
    
    /* Display Heading/Display 2 */
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
  }